<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add User</h5>
      </div>
      <form action="/dashboard/add" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label>Username:</label>
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="yourusername"
              autocomplete="off"
              pattern="[a-z0-9-_\.]+"
              minlength="4"
              required
            />
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              aria-describedby="passwordHelp"
              autocomplete="off"
              placeholder="*******"
              minlength="4"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <input type="submit" class="btn btn-primary" value="Create" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
