<div id="login-form" class="d-grid">
  <div class="card card-body bg-dark m-auto form-signin">
    <h1 class="text-white">Login to play games</h1>
    <form class="mt-3" method="post" action="/auth/login">
      <div class="form-floating">
        <input type="text" class="form-control <% if (msg == "notfound") { %>
        is-invalid <% } %>" id="username" name="username"
        placeholder="yourusername" pattern="[a-z0-9-_\.]+" minlength="4"
        aria-describedby="nameHelp" required />
        <label for="username">Username</label>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please insert correct username and password
        </div>
      </div>
      <div id="nameHelp" class="form-text mb-2">Use a unique usernames.</div>

      <div class="form-floating">
        <input type="password" class="form-control <% if (msg ==
        "passwordwrong") { %> is-invalid <% } %>" id="password" name="password"
        aria-describedby="passwordHelp" placeholder="*******" minlength="4"
        required />
        <label for="password">Password</label>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Wrong password, please input the correct one.
        </div>
      </div>
      <div id="passwordHelp" class="form-text mb-2">
        Use a proper password and easy to remember.
      </div>

      <div class="py-2 d-flex justify-content-between">
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
        <a class="btn btn-lg btn-secondary" href="/register">Register</a>
      </div>
    </form>
  </div>
</div>
